{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to the Himalayan Schools! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to Himalayan Schools, get started
    by creating a <a href="{% url 'student_signup' %}">student account</a> or a <a href="{% url 'teacher_signup' %}">teacher account</a>.
  </p>
  <hr>
  <h3>
    Himalyan Public School
    
  </h3>
  <p>
Himalyan Public School, Affiliated to CBSE, is located at Vill.Ramji Chak, P.O. Bataganj,P.S. Digh, Danapur, Patna (Bihar), Patna.The zenith which the school has been able to reach is largely due to the untiring effort and devotion of Shri Jay Prakash Verma whose services the school still enjoys as its Director. Some eminent educationists,who out of a sense of devotion to the cause of education, spare some time regularly, to guide the students. The school is headed by an eminent Principal,Vinay Chandra jha, who is an academician and sustains the students as a Father.
  </p>

  <h3>Message From the Founder</h3>
  <p>With a vision to provide unmatched quality education to students to excel in every sphere of life , Himalyan School Mode its presence felt in 1997, its year of inception. Since then ,the School has grown manifold with the mission of transforming even average students into top achievers, The fruits of our labour have been sweet and thus our thousands of students have excelled in various fields of life.

The School aims at imparting a broad based system of education to enable the students emerge as talented,knowledgeable and responsible citizens of the country. Efforts are taken to provide value based education to the students to inculate in them to uphold the time tested ideals of indian culture.

The idea is to bring about a free and full development of the child's personality catering to the emotional needs of the students through an array of practices and events.Attempts are made to generate in the students a thirst for knowledge, in a way that they develope a natural urge to acquire knowledge , Special attention is paid to the weaker students in an atmosphere of love and care.

Apart from teaching the students what is included in the curriculum, we believe in nurturing the qualities of humanism, obedience, graceful manners and neatness among the students.</p>
{% endblock %}
